/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Style or Utilities */
body {
    padding: 0%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.main-button {
    padding: 16px 25px;
    background: #2A65D7;
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    width: 187px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-top: 34px;
    margin-bottom: 50px;
}

/* Hero-Section Styles */
.hero-container {
    display: flex;
    background: #161616;
    border-radius: 30px;
    margin: 50px 140px 130px;
    padding: 0;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-width h1 {
    margin-top: 0%;
    font-weight: 700;
    font-size: 70px;
    color: rgba(255, 255, 255, 1);
    line-height: 80px;
    margin-bottom: 4px;

}

.half-width p {

    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;

}

.half-width img {
    display: flex;
    width: 85%;
    align-items: flex-end;
    margin: 33px 80px 0px 24px;
}

/* Upcoming Match Styles */
.match-container {
    display: flex;
    margin: 0px 140px;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin: 0px 24px 50px 0px;
    padding: 30px 30px 0px;
}

.filled {
    padding: 17px 0px;
    width: 252px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFFFFF;
    background: #2A65D7;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 30px;
    text-align: center;
}

.empty {
    padding: 17px 0px;
    width: 252px;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
    color: #161616;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 30px;
    text-align: center;
}





/* Match Cards */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card {
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 53px 30px;
    margin: 0px;
}

.match-flags {
    display: flex;
    justify-content: center;
    align-items: center
}

.match-flags img {
    width: 40%;
}

.match-flags p {
    text-align: center;
    color: #161616;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 22px;
    display: flex;
    align-items: center;
}


.match-info h3 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #161616;
    margin-top: 20px;
    margin-bottom: 0%;
}

.match-info p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4D4D4D;
    margin-top: 10px;
    margin-bottom: 0%;
}

/* Blog Section Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.view-all {
    display: none;
}

.blog {
    width: 100%;
    height: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-cover img {
    width: 100%;
}

.blog-details {
    padding: 20px;
}

.blog-details button {
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 16px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.blog-title {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin: 15px 0px 20px;
}

.blog-info {
    color: rgba(22, 22, 22, 0.7);

}




/* Footer Styles */

.footer {
    margin-top: 130px;
    background: #161616;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.footer h3 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 84px;
}

.footer div {
    display: flex;
    justify-content: center;


}


.footer div p {
    margin-right: 20px;

}

.footer div .fa-brands {
    margin-right: 20px;
}

.icons {
    text-decoration: none;

}

.fa-brands {
    color: white;
}

/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width:576px) {

    /* Hero-Section Styles */
    .watch-button {
        padding: 8px 12px;
        width: 160px;
        margin-bottom: 20px;
    }

    .hero-container {
        flex-direction: column;
        margin: 20px;
        border-radius: 10px;
    }

    .half-width {
        width: 100%;
        padding-left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .half-width h1 {
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 8px;
        padding-top: 28px;

    }

    .half-width p {
        font-size: 14px;
        margin-bottom: 16px;
        padding: 0% 30px;
        text-align: center;

    }

    .extra-text {
        display: none;
    }


    .half-width img {
        width: 70%;
        margin: 0px;
    }

    /* Upcoming Match Styles */
    .match-container {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
        align-items: center;
    }


    /* Sidebar */
    .sidebar {
        display: flex;
        background-color: #ffffff;
        flex-direction: column;
        width: fit-content;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .filled {
        background: #2A65D7;
        font-weight: 600;
        margin: 0px 0px 16px;
    }

    .empty {
        color: #161616;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        margin: 0px 0px 16px;
    }

    /* Match Cards */
    .cards,
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .view-all {
        display: none;
    }

    /* Footer Styles */

    .footer {
        margin-top: 24px;
        padding: 40px;
    }

    .footer h3 {
        font-size: 22px;
        margin-bottom: 24px;
        text-align: center;
    }

    .footer div {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .footer div p {
        margin-right: 14px;
        margin-right: 0%;

    }


    .icons div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }



    .fa-brands {
        margin-right: 0px;
    }
}

/* Tablet Devices */
@media only screen and (min-width:567px) and (max-width:992px) {

    /* Hero-Section Styles */
    .hero-container {
        margin: 50px;
    }


    .half-width h1 {
        font-size: 40px;
        line-height: 50px;
        margin-top: 0%;
        margin-bottom: 0px;
    }

    .half-width p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;

    }

    .extra-text {
        display: none;
    }

    /* Upcoming Match Styles */
    .match-container {
        flex-direction: column;
        margin: 70px 50px 0px;
    }

    /* Sidebar */
    .sidebar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        background: #ffffff;
        margin: 0px 0px 30px;
        padding: 0px;
    }

    .filled {
        margin: 0px 11px;

    }

    .empty {
        margin: 0px 11px;
        border: 1px solid #E8E8E8;
    }

    /* Match Cards */
    .cards,
    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .view-all {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }



    /* Footer */
    .footer {
        margin-top: 70px;
    }

    .footer div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-content: center;


    }


    .footer div p {
        margin-right: 16px;

    }


}