/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Style or Utilities */
body {
    padding: 0%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 16px 25px;
    background: #2A65D7;
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    width: 187px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-top: 34px;
    margin-bottom: 50px;
}

/* Hero-Section Styles */
.hero-container {
    display: flex;
    background: #161616;
    border-radius: 30px;
    margin: 50px 140px 130px;
    padding: 0;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-width h1 {
    margin-top: 0%;
    font-weight: 700;
    font-size: 70px;
    color: rgba(255, 255, 255, 1);
    line-height: 80px;
    margin-bottom: 4px;

}

.half-width p {

    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;

}

.half-width img {
    display: flex;
    width: 85%;
    align-items: flex-end;
    margin: 33px 80px 0px 24px;
}

/* Upcoming Match Styles */
.match-container {
    display: flex;
    margin: 0px 140px;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin: 0px 24px 50px 0px;
    padding: 30px 30px 0px;
}

.filled {
    text-decoration: none;
    border-radius: 10px;
    padding: 17px;
    background: #2A65D7;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0px 0px 30px;
    text-align: center;
}

.empty {
    text-decoration: none;
    border-radius: 10px;
    padding: 17px 40px;
    color: #161616;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 30px;
    text-align: center;
}

/* Match Cards */
.cards-container {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card {
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 53px 30px;
    margin: 0px;
}

.match-flags {
    display: flex;
    justify-content: center;
    align-items: center
}

.match-flags img {
    width: 40%;
}

.match-flags p {
    text-align: center;
    color: #161616;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 22px;
    display: flex;
    align-items: center;
}


.match-info h3 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #161616;
    margin-top: 20px;
    margin-bottom: 0%;
}

.match-info p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4D4D4D;
    margin-top: 10px;
    margin-bottom: 0%;
}

/* Footer Styles */

.footer {
    margin-top: 130px;
    background: #161616;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.footer h3 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 84px;
}

.footer div {
    display: flex;
    justify-content: center;


}

.footer div p {
    margin-right: 20px;

}

.footer div .fa-brands {
    margin-right: 20px;
}